<h2 class="ui center aligned medium icon header  ">
  <i class="circular users icon teal"></i>
  Say Something!!!!
</h2>


<div class="ui two column grid">
  <div class="twelve wide column ">
    <div class="ui fluid raised card chatbox">
      <div class="content">
<div class="ui small feed">
  <h4 class="ui header">Followers Activity</h4>
  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Elliot Fu</a> added <a>Jenny Hess</a> as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Stevie Feliciano</a> added <a>Elliot Fu</a> as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
        <a>Helen Troy</a> added <a>Christian Rocha</a> as a friend
      </div>
    </div>
  </div>
  <div class="event">
    <div class="content">
      <div class="summary">
        <em>Christian Rocha</em> : Test message.
      </div>
    </div>
  </div>
      </div>
        </div>
      <div class=" extra content">
      <form class="ui reply form">
        <div class="field">
        </div>
        <div class="ui  fluid icon input ">
          <input type="text" placeholder="Enter a Message...">
          <i class="bordered inverted teal edit icon"></i>
        </div>

      </form>
      </div>
</div>
  </div>


  <div class="four wide column ">
    <div class="ui fluid raised card chatbox">
      <div class="content">
<div class="ui inverted grey vertical menu">
  <a class="active item">
    Home
  </a>
  <a class="item">
    <div class="ui small teal label">10</div>
    Messages
  </a>
  <a class="item">
    <div class="ui small teal label">12</div>
    Online Friends
  </a>
</div>
  </div>
    </div>
    </div>
</div>